body {
    background-color: #1b1c30;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

.login-logo {
    width: 185px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #2a2b38;
    color: #fff;
    font-size: 16px;
}

.login-form input::placeholder {
    color: #ccc;
}

.login-form button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #77c97b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #66b06a;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #77c97b;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.l-link{
    margin-top: 20px; 
  margin-bottom: 15px; 
  
}